.title {
    display: flex;
    color: white;
    justify-content: center;
    font-family: 'ABeeZee', sans-serif;
    font-size: 80px;
    background: #00A651;
    padding: 50px;
}

.main-logo {
   height: 100px;
   width: 55px;
}

.column {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 50px;
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    font-size: 30px;
}

#createApp {
    background-color: #00A651;
    font-size: 30px;
}

#vegetableList {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}