.title {
    display: flex;
    color: white;
    justify-content: center;
    font-size: 80px;
    background: #7dca5c;
    padding: 50px;
}

.column {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 50px;
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    font-size: 30px;
}

#createApp {
    background-color: #7dca5c;
    font-size: 30px;
}

#vegetableList {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}